
{% extends "base.html" %}

{% block title %}{{ super() }} - Home{% endblock %}
{% block content %}
<img  class="align-center text-center centerimg" src="https://www.askideas.com/media/13/Welcome-Sticky-Note.png" alt="welcome banner" width="40%" height="65%">
    <h1 class="display-4 align-center">Before DeezNotes, please create an account or login</h1>
    <h1 class="display-4 align-center">You will then be able to create notes</h1>
    <h1 class="display-4 align-center">as well as see the other notes created by DeezNote users</h1>



{% endblock %}