{% extends "base.html" %}
{% block title %}{{ super() }} - {{ word }}{% endblock %}
{% block content %}
        <img class="centerimg" src="https://cdn.clipart.email/33aa5e4991aa2f2c5e9fb3ba3c989588_note-clipart-pin-note-pin-transparent-free-for-download-on-_640-566.png" alt="note" height="65%" width="15%" >
    <h1 style="text-align: center">Notes for {{ word }}</h1>
    <table id="tablesearch" class="table ">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Note Title</th>
            <th scope="col">Note Color</th>
            <th scope="col">Note Expiration Date</th>
            <th scope="col">Note Content</th>
            <th scope="col">Author</th>
        </tr>
        </thead>
        <script>
            $(document).ready(function () {
                let e = {{ wordnotes | tojson}};
                e.forEach(async (note) => {
                    const table = document.getElementById('tablesearch');
                    const row = table.insertRow(-1);
                    const cell1 = row.insertCell(0);
                    cell1.innerText = note[0]
                    const cell2 = row.insertCell(1);
                    cell2.style.backgroundColor = note[1]
                    const cell3 = row.insertCell(2);
                    cell3.innerText = note[2]
                    const cell4 = row.insertCell(3);
                    cell4.innerText = note[3]
                    const cell5 = row.insertCell(4);
                    cell5.innerText = note[4]
                });
            });
        </script>
    </table>
{% endblock %}